.form {
    display: flex;
    margin-bottom: 4rem;
    .input {
        border-radius: 5px;
        padding: 1rem;
        max-width: 50rem;
    }
}

.button {
    margin: 0 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    &.button-add {
        background: #6a6;
        &:hover {
            background: #bada55;
        }
    }
    &.button-dt {
        background:#C21515;
    }
}
.g-result {
    display: flex;
    & > div {
        margin-right: 2rem;
        img {
            max-width: 200px;
            border-radius: 100px;
        }
    }
}
.panel {
    background: #d8d8d8;
    border-radius: 4px;
    .head {
        background: #a7a7a7;
        border-radius: 4px 4px 0 0;
    }
    .head, .content {
        display: flex;
        h3, p {
            flex: 1;
            padding: 0 1rem;
        }
    }
}