.form {
    display: flex;
    margin-bottom: 4rem;
    .input {
        border-radius: 5px;
        padding: 1rem;
        max-width: 50rem;
    }
}

button {
    margin: 0 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    &.button-add {
        background: #6a6;
        &:hover {
            background: #bada55;
        }
    }
    &.button-dt {
        background:#C21515;
    }
}