:root {
  --color-primary: #333333;
  --color-light: #ffffff;

  --global-font-size: 62.5%;
  --global-primary-font: 'Roboto Mono', monospace;
  --global-m-size: 1.6rem;
  --global-l-size: 1.8rem;
  --global-xl-size: 2.4rem;

  --weight-bold: 700;
  --hover-transition: 150ms ease;
}